* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
}
h1 {
  margin-bottom: 60px;
}

button {
  padding: 16px 26px;
  cursor: pointer;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.dimm.open {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 2rem 3rem;
  /* 1rem : 16px */
  background-color: #fff;
  opacity: 0;
}

.modal.open {
  opacity: 1;
}
